*{
    font-family: "Montserrat", sans-serif;
}

h1{
    font-weight: 800;
}

.main_side_signup,.main_side_signin{
    color:white;
}

a{
    color:black;
    font-weight: 300;
}

#floatingInput,#floatingPassword{
    background-color: #EEEEEE;
    border-radius: 0;
}

.info_btn{
    background: linear-gradient(135deg, #2F80ED, #56CCF2);
    color: white;
    border: linear-gradient(135deg, #2F80ED, #56CCF2);
}

.move_btn{
    background: linear-gradient(135deg, #2F80ED, #56CCF2);
    color: white;
    border-color: white;
}

.box{
    width: 40%;
    margin-top: 7%;
}

.inside .social_icons a i{
    margin:1.2rem;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    transform: scale(1.5);
    height: 36px;
    width:36px;
    padding: 0.57em;
}

.inside .social_icons .google i{
    padding: 0.55rem;
}

.inside .social_icons .facebook i{
    padding: 0.6rem;
}

.social_icons{
    margin:10px 28%;
}

h1{
    text-align: center;
    margin-bottom: 3%;
    font-size: 47px;
}

p{
    text-align: center;
}

.password a{
    text-decoration: none;
    font-size: 25px;
}

.password{
    margin-top:2%;
}

.main_btn{
    margin: 5% 40%;
    border-radius: 19px;
    height: 40px;
    width: 140px;
    border: 2px solid;
    font-weight: 00;
}

.display{
    position:absolute;
}

.main_side_signup{
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index:1;
    /* background-image: url("https://media.istockphoto.com/id/178149253/photo/deep-space-background.jpg?s=612x612&w=0&k=20&c=w1hb2H1C-blV918LoG9mGB02nJY6cLJpR5Szfg7sLqE=");
    background-size: cover; */
    background: linear-gradient(135deg, #2F80ED, #56CCF2);
    transition: transform 0.6s ease, opacity 0.3s ease;
}

.all-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.signUp{
    position: relative;
    z-index: 0;
    transition: transform 0.6s ease, opacity 0.3s ease;

}

.side_signup{
    width: 90%;
    margin-top: 29%;
    margin-left: 7%;
}

.main_side_signin{
    background: linear-gradient(135deg, #2F80ED, #56CCF2);
    width: 50%;
    height: 100vh;
    left: 0;
    z-index: 1;
    transition: transform 0.6s ease, opacity 0.3s ease;
}

.login{
    z-index: 0;
    transition: transform 0.6s ease, opacity 0.3s ease;
}

.side_signin{
    width: 90%;
    margin-top: 29%;
    margin-left: 7%;   
}

.move{
    transform: translateX(100%);
    z-index: -1;
}

.move2{
    transform: translateX(-100%);
    z-index: -1;
}

.start {
  opacity: 0;
  pointer-events: none;
}
.active {
  opacity: 1;
  pointer-events: auto;
}

.moveLeftPage{
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
}


.moveRightPage{
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}




